* {
    box-sizing: border-box;
    /* border: 1px solid gold; */
}

body  {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-size: 62.5%;
}

header  {
    background-color: #000000;
    color: #FFFFFF;
    border-bottom: 5px dashed #FFFFFF;
}

.header-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    padding: 2% 2%; 
}

.header-container h1  {
    padding: .5% 0;
    width: 70%;
    font-size: 3.5rem;
    font-family: 'Lora', serif;
    margin-bottom: .5%;
    font-family: 'Playfair Display', serif;
}

.nav  {
    width: 40%;
    display: flex;
    margin: .5% 0 0 .5%;
}

.nav a {
    padding: 2% 10%;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    background-color: #2d706f;
    font-size: 1.25rem;
    color: #FFFFFF;
    width: 40%;
    text-align: center;
}

.nav a:hover {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 2.5% 10%;
    text-decoration: none;
    background-color: #3d9998;
    font-size: 2rem;
    color: #FFFFFF;

}

section  {
    background-color: #a6a6a6;
    padding: 2.5% 0;
}

.featured  {
    display: flex;
    justify-content: space-evenly;
    width: 100%;   
    margin: 5% 0;
}

.feat-proj  {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 45%;
    height: 50vh;
    border: 5px solid white;
    background-color: #303030;
    object-fit: cover;
}

.feat-proj:hover  {
    border: 0;
}

.feat-proj img {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    position: relative;
    object-fit: cover;
}

.brief-about  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 .75%;
    line-height: 1.5;
    font-size: 2em;
    width: 45%;
    height: 50vh;
    border: 5px solid white;
    background-color: #2d706f;
    color:#FFFFFF;
}


.brief-about h2 {
    font-size: 3rem;
    font-family: 'Cedarville Cursive', cursive;
    margin-bottom: 2%;
}

.brief-about p {
    letter-spacing: 1.5px;
}

.projects-container  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
}

.projects  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 2.5% 2.5%;
    border: 5px solid #FFFFFF;
    background-color: #303030;
}

.projects img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.projects p{
    position: absolute;
    opacity: 0%;
    font-size: 2rem;
    background-color: rgba(48, 48, 48, 0);
    color: #FFFFFF;
    object-fit: cover;
}

.projects p:hover{
    background-color: rgba(48, 48, 48, .5);
    opacity: 100%;
}

.projects:hover  {
    border: 0;
}


footer  {
    background-color: #000000;
    color: #FFFFFF;
    border-top: 5px dashed #FFFFFF;
}

.foot-container  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.foot-container h2  {
    text-align: center;
    color: #FFFFFF;
    font-size: 2.5rem;
    margin: .5% 0 2%;
}

.foot-container a  {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 2.5% 2.5%;
    background-color: #2d706f;
    border: 5px solid #FFFFFF;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

.foot-container a:hover {
    display: flex;
    justify-content: center;
    border: 0;
    font-size: 2rem;
    background-color: #3d9998;
}

.about-me h2  {
    font-size: 4rem;
    margin: 2.5% 0 2.5% 0;
}

.about-me  {
    margin: 5% 5%;
    background-color: #2d706f;
    color: #FFFFFF;
    font-size: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    width: 90%;
    border: 5px dashed #FFFFFF;
    padding: 2.5% 2.5%;
}

@media (max-width: 1200px) {
    .nav a  {
        width: 100%;
        text-align: center;
    }

    .nav a:hover {
        font-size: 1.25rem;;
    }

    .brief-about{
        padding: 0 2%;
        height: 50vh;
    }

    .brief-about h2{
        font-size: 2.5rem;
    }

@media (max-width: 800px) {
    /* For mobile phones: */
    .nav  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav a  {
        width: 100%;
    }

    .header-container nav , .header-container h1  {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .header-container h1 {
        margin-bottom: 2.5%;
    }


    .featured  {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around; 
        align-items: center;
        margin: 0 auto;
        width: 95%;
        height: 90%;
    }


    .projects  {
        display: flex;
        flex-flow: row wrap;
        width: 40%;
        margin: 5% auto;
    }

    .brief-about  {
        padding: 10% 5%;
       
    }

    .brief-about, .feat-proj  {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;
        margin: 2.5% 2.5%;
    }

    .brief-about h2{
        font-size: 2.5rem;
    }

    .foot-container a  {
        padding: 5% 15%;
    }

    .about-me h2  {
        font-size: 1.5rem;
    }

    .about-me  {
        font-size: 1rem;
    }

    .foot-container h2  {
        font-size: 2rem;;
    }

    .nav a:hover {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 2.5% 10%;
        text-decoration: none;
        background-color: #3d9998;
        font-size: 2rem;
        color: #FFFFFF;
  }

  @media(max-width: 500px){
      .projects-container{
          flex-flow: column nowrap;
      }

      .projects{
          width: 90%;
      }
  }